@use 'theme';
@use 'mixins';

/*@font-face {
  font-family: Raleway;
  src: url(./assets/fonts/Raleway-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}*/

@font-face {
  font-family: Comfortaa;
  src: url(./assets/fonts/Comfortaa-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Game of Squids";
  src: url(./assets/fonts/GameOfSquids-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  @media screen and (max-width: 750px) {
    font-size: 14px;
  }
}

html, body {
}

body {
  margin: 0;
  font-family: theme.$fontFamily;
  background-color: theme.$colorPrimary;
  color: theme.$colorSecondary;
  overflow-x: hidden;
}

h1   {
  font-family: "Game of Squids", theme.$fontFamily, sans-serif;
  font-size: 3.5rem;
  text-align: center;
  @include mixins.stroke(5, #fff);
  color: theme.$colorTertiary;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: theme.$colorSecondary;
  &:hover {
    text-decoration: underline;
  }
}

ng-custom-avatar-generator * {
  font-family: theme.$fontFamily !important;
}


