.before-start {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .share {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
