<div class="master-view">
  <ng-container *ngIf="!activeRound?.situation; else results">
    <div class="set-situation">
      <div>Create a situation:</div>
      <div class="input-container">
        <app-input [(ngModel)]="situationInput"></app-input>
        <app-button (click)="setSituation(situationInput)">=></app-button>
      </div>
      <div>Or choose from these situations:</div>
      <div class="suggestions">
        <app-card *ngFor="let situation of exampleSituations" (click)="setSituation(situation)">{{situation}}</app-card>
      </div>
    </div>
  </ng-container>

  <ng-template #results>
    <div class="results">
      <h2>{{activeRound?.situation}}</h2>
      <div *ngIf="!activeRound?.answers || activeRound?.answers?.length === 0; else answers">
        Waiting for players
      </div>
      <ng-template #answers>
        <ng-container *ngFor="let answer of activeRound?.answers">
          <app-card>{{answer.playerName}}<img [src]="answer.gifUrl" alt=""/></app-card>
        </ng-container>
      </ng-template>
    </div>

  </ng-template>
</div>
