<div class="master-view">
  <ng-container *ngIf="!activeRound?.situation; else results">
    <div class="set-situation">
      <div class="create-container">
        <div>Create a situation:</div>
        <div class="input-container">
          <app-input [(ngModel)]="situationInput" (keydown.enter)="setSituation(situationInput)"></app-input>
          <app-button (click)="setSituation(situationInput)">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" viewBox="0 0 512 512"><g><path style="fill: #fff" d="M499.436,225.905L295.858,24.536c-16.623-16.438-43.428-16.305-59.866,0.328   c-16.438,16.613-16.294,43.418,0.329,59.856l130.356,128.958H42.329C18.956,213.679,0,232.624,0,255.997   c0,23.383,18.956,42.328,42.329,42.328h324.347L236.321,427.273c-16.623,16.438-16.767,43.254-0.329,59.867   c16.438,16.622,43.243,16.766,59.866,0.328l203.578-201.368c8.044-7.963,12.564-18.792,12.564-30.102   C512,244.685,507.479,233.866,499.436,225.905z"/></g></svg>
          </app-button>
        </div>
      </div>
      <div class="choose-container">
        <div>Or choose from these situations:</div>
        <div class="suggestions">
          <app-card *ngFor="let situation of exampleSituations" (click)="setSituation(situation)">{{situation}}</app-card>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #results>

    <div class="results">
      <h2>{{activeRound?.situation}}</h2>

      <ng-container *ngIf="!winner; else winnerDisplay">
        <div *ngIf="!activeRound?.answers || activeRound?.answers?.length === 0 || ((activeRound?.answers?.length || 0) < (players?.length || 1)-1); else answers" class="wait">
          Wait until all players have chosen a GIF
          <img src="https://media4.giphy.com/media/pFZTlrO0MV6LoWSDXd/200w.gif"
               width="200" alt="wait"/>
        </div>
        <ng-template #answers>
          <div *ngIf="((activeRound?.flippedAnswers?.size || 0) >= (players?.length || 1)-1)">
            Click at a GIF to mark it as winner
          </div>
          <div class="answers">
            <ng-container *ngFor="let answer of activeRound?.answers">
              <div class="container" [ngClass]="{'selected': selectedWinner === answer.playerName}">
                <app-flip-card [flipped]="activeRound?.flippedAnswers?.has(answer.playerName) ?? false" (click)="flipCard(answer.playerName)">
                  <div front class="hint">Click to reveal</div>
                  <img back [src]="answer.gifUrl" alt="" style="max-width:100%; max-height: 100%;"/>
                </app-flip-card>
                <app-button *ngIf="selectedWinner === answer.playerName"
                            (click)="setWinner(answer.playerName)"
                            class="winner-button">
                  Mark as winner
                </app-button>
              </div>
            </ng-container>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #winnerDisplay>
        <app-round-winner [winnerGifUrl]="winner?.winnerGifUrl" [winnerName]="winner?.winnerName"></app-round-winner>
        <app-button (click)="passToNextMaster()">Next Round!</app-button>
      </ng-template>
    </div>

    </ng-template>
</div>
