h2 {
  text-align: center;
  font-size: 2rem;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  .wait {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .container {
    padding: 1rem;
    border-radius: 2rem;
    &.selected {
      background: #ffffffaa;
    }
  }
  .answers {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    .winner-button {
      margin-top: 0.5rem;
    }
  }
}

app-flip-card {
  cursor: pointer;
  .hint {
    color: #888;
  }
}
