h2 {
  text-align: center;
  font-size: 2rem;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  .wait {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .container {
    padding: 1rem;
    border-radius: 2rem;
    &.selected {
      background: #ffffffaa;
    }
  }
  .answers {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    app-flip-card {
      cursor: pointer;
      .answer-gif {
        max-width:100%;
        max-height: 100%;
      }
      .hint {
        color: #888;
      }
    }
    .winner-button {
      margin-top: 0.5rem;
    }
  }
}
