<div class="app-container">
  <h1><a routerLink="/">GIF it 2 me</a></h1>
  <div class="view">
    <router-outlet class="router-outlet"></router-outlet>
  </div>
  <div class="footer">
    <img src="/assets/images/poweredByGiphy.png" width="200" class="poweredBy">
    <div class="links">
      <a href="/privacy" target="_blank">Privacy Policy</a> |
      <a href="mailto:hi@gifit2me.com">Contact</a> |
      <a href="https://buymeacoffee.com/maidi" target="_blank">Buy me a donut</a> |
      <a href="https://www.mermaidi.de" target="_blank">👽 Maidi</a>
    </div>
  </div>
</div>
