.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  min-height: 100vh;
  max-width: 1800px;
  margin: auto;
}

.router-outlet {
  position: absolute;
}

.view {
  min-height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}
