@use '../theme';
@use '../mixins';

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  min-height: 100vh;
  max-width: 1800px;
  margin: auto;

  h1 {
    font-family: "Game of Squids", theme.$fontFamily, sans-serif;
    font-size: 3.5rem;
    text-align: center;
    @include mixins.stroke(5, #fff);
    color: theme.$colorTertiary;
    a {
      color: theme.$colorTertiary;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.router-outlet {
  position: absolute;
}



.view {
  min-height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer {
  .poweredBy {
    display: block;
  }
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex-direction: column;
}
