.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  min-height: 100vh;
}

.router-outlet {
  position: absolute;
}

.view {
  min-height: 100%;
}
