:host {
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;

  img {
    width: 100%;
    max-width: 300px;
  }
}

.start-game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  > *:nth-child(odd) {
    flex: 1;
    align-self: flex-end;
  }
  > * {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
