  <h2>Play together with your friends and<br/>find the funniest GIF matching a situation.</h2>
<!--<h2>This game is so much fun!</h2>
<img class="start-gif" src="https://media3.giphy.com/media/ywItJm3cLmPYI/giphy.gif?cid=ecf05e47q1c0l59j6q2j6ln4bcc6vlx85qx8znot8o4i1qp3&rid=giphy.gif&ct=g"/>
<h3>Find out yourself:</h3>-->
  <form [formGroup]="startForm" class="form">
    <div class="player-settings">
    <img *ngIf="avatar" [src]="avatar" (click)="showAvatarGenerator = true" class="avatar"/>
    <app-input class="name-input" [placeholder]="'Name'" formControlName="name" required [formGroup]="startForm" [formControlName]="'name'"></app-input>
    </div>
    <div class="start-game-container">
      <app-button (click)="startGame(true)">Start new game</app-button>
      <div class="divisor">
        <div class="vl"></div>
        <div>or</div>
        <div class="vl"></div>
      </div>
      <div class="join-game-container">
        <app-input [placeholder]="'Game ID'" formControlName="gameId" [formGroup]="startForm" [formControlName]="'gameId'"></app-input>
        <app-button (click)="startGame(false)">Join game</app-button>
      </div>
    </div>
  </form>
<div [ngClass]="{'drop': true, 'show': showAvatarGenerator}">
  <div class="avatar-generator">
    <div class="content">
      <ng-custom-avatar-generator
        [shape]="'round'" [enableBackground]="true" [displayDownload]="false"
        (svgUrl)="setAvatar($event)"
      ></ng-custom-avatar-generator>
    </div>
    <app-button (click)="showAvatarGenerator = false">Save</app-button>
  </div>
</div>
