<div class="page-container">
  <h2>This game is so much fun!</h2>
  <img src="https://media3.giphy.com/media/ywItJm3cLmPYI/giphy.gif?cid=ecf05e47q1c0l59j6q2j6ln4bcc6vlx85qx8znot8o4i1qp3&rid=giphy.gif&ct=g"/>
  <h3>Find out yourself:</h3>
  <div class="start-game-container">
    <app-button (click)="startGame(true)">Start new game</app-button>
    <div class="divisor">
      <div class="vl"></div>
      <div>or</div>
      <div class="vl"></div>
    </div>
    <div class="join-game-container">
      <app-input [placeholder]="'Game ID'"></app-input>
      <app-button (click)="startGame(false)">Join game</app-button>
    </div>
  </div>
</div>
