  <h2>Play together with your friends and<br/>find the funniest GIF matching a situation.</h2>
<!--<h2>This game is so much fun!</h2>
<img class="start-gif" src="https://media3.giphy.com/media/ywItJm3cLmPYI/giphy.gif?cid=ecf05e47q1c0l59j6q2j6ln4bcc6vlx85qx8znot8o4i1qp3&rid=giphy.gif&ct=g"/>
<h3>Find out yourself:</h3>-->
  <form [formGroup]="startForm" class="form">
    <div class="player-settings">
    <img *ngIf="avatar" [src]="avatar" (click)="showAvatarGenerator = true" class="avatar" alt="avatar"/>
      <app-input class="name-input" [placeholder]="'Name'" required [formControlName]="'name'"
         [errorMessage]="startForm.controls['name'].invalid && startForm.controls['name'].touched ?
         ((startForm.controls['name'].errors?.['required'] && 'Please enter a Name') ||
          (startForm.controls['name'].errors?.['maxlength'] && 'Please enter a maximum of 50 characters') ||
          (startForm.controls['name'].errors?.['alreadyTaken'] && 'Name is already taken by another player in the room')
         ): undefined"
    ></app-input>
    </div>
    <div class="start-game-container">
      <app-button (click)="startGame(true)">Start new game</app-button>
      <div class="divisor">
        <div class="vl"></div>
        <div>or</div>
        <div class="vl"></div>
      </div>
      <div class="join-game-container">
        <app-input [placeholder]="'Game ID'" [formControlName]="'gameId'" maxlength="3"
         [errorMessage]="startForm.controls['gameId'].invalid && startForm.controls['gameId'].touched ?
         ((startForm.controls['gameId'].errors?.['required'] && 'Please enter a Game ID') ||
          (startForm.controls['gameId'].errors?.['minlength'] && 'Please enter at least 3 characters') ||
          (startForm.controls['gameId'].errors?.['notFound'] && 'No Game with this ID was found') ||
          (startForm.controls['gameId'].errors?.['started'] && 'Game has already started') ||
          (startForm.controls['gameId'].errors?.['full'] && 'Room is full')
         ): undefined"
        ></app-input>
        <app-button (click)="startGame(false)">Join game</app-button>
      </div>
    </div>
  </form>
  <div class="how-it-works">
  <app-collapsible header="How it works">
    <p>GIF it 2 me is a turn-based real-time party game for 3 to 9 players. </p>
    <p>In each round another player is the game leader and thinks of a situation (or chooses from a selection of example situations) to which the players must find a suitable, preferably funny GIF. They can search the Giphy database to do this.</p>
    <p>As soon as all players have submitted a GIF, the master starts to reveal them. Then he decides which of the answers is the funniest and chooses it as the winner. The corresponding player receives a point and the role of the master changes to the next player, whose turn it is to think up a situation.</p>
    <p>The game ends when the players decide to do so and the winner is whoever has the most points at that moment.</p>
  </app-collapsible>
  </div>
<div [ngClass]="{'drop': true, 'show': showAvatarGenerator}">
  <div class="avatar-generator">
    <div class="content">
      <ng-custom-avatar-generator
        [shape]="'round'" [enableBackground]="true" [displayDownload]="false"
        (svgUrl)="setAvatar($event)"
      ></ng-custom-avatar-generator>
    </div>
    <app-button (click)="showAvatarGenerator = false">Save</app-button>
  </div>
</div>
