:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  h2 {
    font-size: 2rem;
    text-align: center;
  }
}
.wait {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.search-input-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;

  app-input {
    flex: 3;
  }
  app-button {
    position: absolute;
    right: 0;
  }
}

.load-more-button {
  max-width: 500px;
  width: 100%;
}

.info {
  text-align: center;
}


.drop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .modal {
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    max-height: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: min-content;
    height: max-content;
    flex-direction: column;
    display: flex;
    gap: 1rem;
    .content {
      flex: 1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;
    }
  }
}

.masonry {
  width: 100%;
  .masonry-item {
    width: 20%;
    @media (max-width: 1200px) {
      width: 25%;
    }
    @media (max-width: 1000px) {
      width: 33.33%;
    }
    @media (max-width: 800px) {
      width: 50%;
    }
    @media (max-width: 550px) {
      width: 100%;
    }
    .gif {
      width: 100%;
      cursor: pointer;
      padding: .25rem;
    }
  }
}

.answers {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  .answerGif {
    max-width:100%;
    max-height: 100%;
  }
}
