<ng-container *ngIf="state === ViewState.noSituation">
  <div class="info wait">
    <div>Wait until <strong>{{master}}</strong> sets a situation</div>
    <img src="https://media4.giphy.com/media/pFZTlrO0MV6LoWSDXd/200w.gif" width="200" alt="wait"/>
  </div>
</ng-container>

<ng-container *ngIf="state === ViewState.searchGifs">
  <div class="info">
    <ng-container *ngIf="!sent">Search a GIF for this situation:</ng-container>
    <h2>{{activeRound?.situation}}</h2>
  </div>
  <app-gif-search (sendGif)="sendSelectedGif($event)" )></app-gif-search>
</ng-container>

<ng-container *ngIf="state === ViewState.waitForOthers">
      <div class="wait">
        <div>Wait until all other players have chosen a GIF and <strong>{{master}}</strong> starts revealing them</div>
        <img src="https://media4.giphy.com/media/pFZTlrO0MV6LoWSDXd/200w.gif" width="200" alt="wait"/>
      </div>
</ng-container>

<ng-container *ngIf="state === ViewState.answersReveal">
      <div class="answers">
        <app-flip-card *ngFor="let answer of activeRound?.answers" [flipped]="activeRound?.flippedAnswers?.has(answer.playerName) ?? false">
          <img back [src]="answer.gifUrl" alt="" class="answerGif"/>
        </app-flip-card>
      </div>
</ng-container>

<ng-container *ngIf="state === ViewState.winnerDisplay">
  <app-round-winner [winnerGifUrl]="winner!.winnerGifUrl" [winnerName]="winner!.winnerName"></app-round-winner>
</ng-container>

