<div class="page-container">
  <div class="room-info">
    <div>Room ID: {{roomId$ | async}}</div>
    <div>
      Players:
      <div *ngFor="let player of players$ | async">
        {{player.name}} {{player.score}}
      </div>
    </div>
    <div *ngIf="(activeRound$ | async) as activeRound">Round {{activeRound.index}}</div>
  </div>
  <ng-container *ngIf="ownPlayer?.isMaster; else isPlayer">
    <div class="master-view">
      <div>
        Create a situation:
        <app-input [placeholder]="'Enter'"></app-input>
      </div>
      <div class="suggestions">
        Or choose from these situations:
        <app-card *ngFor="let situation of exampleSituations" (click)="startNewRound(situation)">{{situation}}</app-card>
      </div>
    </div>
  </ng-container>

  <ng-template #isPlayer>
    <app-player-view></app-player-view>
  </ng-template>
</div>
