@use "./src/theme";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.main-view {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

  .room-info {
    background: darken(theme.$colorPrimary, 5);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .player-info {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      flex-wrap: wrap;
      .player {
        display: flex;
        align-items: center;
        gap: .5rem;
        flex: 1;
        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.25rem;
          > * {
            white-space: nowrap;
          }
          .name {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            &.me {
              font-weight: bold;
            }
          }
        }
        .checked {
          width: 60px;
          height: 60px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            background: white;
            opacity: 0.65;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: 50%;
          }
          &:after {
            content: "";
            display: inline-block;
            transform: rotate(45deg);
            height: 20px;
            width: 10px;
            border-bottom: 5px solid theme.$colorTertiary;
            border-right: 5px solid theme.$colorTertiary;
            position: absolute;
            left: 23px;
            top: 15px;
          }
        }
        .avatar {
          width: 60px;
        }
      }
    }
  }


.master-view {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .suggestions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

