    <div class="room-info">
      <div>Room ID: <b>{{roomId$ | async}}</b></div>
      <div *ngIf="activeRound">Round {{activeRound.index}}</div>
      <div class="player-info">
        <div *ngFor="let player of players$ | async" class="player">
          <div [ngClass]= "{checked: hasAnswered(player.name) || isTrue}">
            <img *ngIf="player.avatar" [src]="player.avatar" class="avatar" alt="avatar" />
          </div>
          <div class="info">
            <div>{{player.name}} <ng-container *ngIf="player.name===ownPlayer?.name">(me)</ng-container><ng-container *ngIf="player.isMaster">(Master)</ng-container></div>
            <div>{{player.score}} points</div>
          </div>
        </div>
      </div>
  </div>
  <div class="main-view">
    <ng-container *ngIf="ownPlayer?.isMaster; else isPlayer">
      <ng-container *ngIf="!activeRound; else masterView">
        Has everyone joined?
        <app-button (click)="startNewRound()" [autoWidth]="true">Start!</app-button>
      </ng-container>
      <ng-template #masterView>
        <app-master-view></app-master-view>
      </ng-template>
    </ng-container>

    <ng-template #isPlayer>
      <app-player-view></app-player-view>
    </ng-template>
  </div>
