<div class="search-input-container">
  <app-input [placeholder]="'Search'" [(ngModel)]="searchInput" (keydown.enter)="search(searchInput)"
             (change)="gifSearchErrorMessage=undefined" [errorMessage]="gifSearchErrorMessage"></app-input>
  <app-button (click)="search(searchInput)">
    <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="25px"><g><g><path d="M493.9,465.2L385.8,357.1c30.3-36.7,48.5-83.7,48.5-135c0-117.2-95-212.2-212.2-212.2c-117.2,0-212.2,95-212.2,212.2    s95,212.2,212.2,212.2c51.3,0,98.3-18.2,135-48.5l108.1,108.1c7.9,7.9,20.8,7.9,28.7,0C501.8,486,501.8,473.1,493.9,465.2z     M222.1,391.4c-93.5,0-169.3-75.8-169.3-169.3S128.6,52.8,222.1,52.8c93.5,0,169.3,75.8,169.3,169.3S315.5,391.4,222.1,391.4z"/></g></g></svg>
  </app-button>
</div>
<ngx-masonry [ordered]="true" class="masonry">
  <ng-container *ngIf="gifResultSrcs.length > 0">
    <div ngxMasonryItem class="masonry-item" *ngFor="let item of gifResultSrcs">
      <img masonryLazy src="{{item.small}}" class="gif" (click)="selectedGif = item" (load)="masonry?.layout()"/>
    </div>
  </ng-container>
</ngx-masonry>
<ng-container *ngIf="hasMoreResults">
  <app-button (click)="loadMore(searchInput)" class="load-more-button">Load more</app-button>
</ng-container>
<ng-container *ngIf="selectedGif">
  <app-modal>
    <img src="{{selectedGif.src}}"/>
    <app-button (click)="sendSelectedGif()">Send</app-button>
    <app-button [secondary]="true" (click)="selectedGif = undefined">Discard</app-button>
  </app-modal>
</ng-container>
